/************************* FONT STYLE ***************/

@font-face {
    font-family: "MazzardH-Bold";
    src: url("../assets/fonts/MazzardH-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "MazzardH-ExtraBold";
    src: url("../assets/fonts/MazzardH-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "gilroy-bold";
    src: url("../assets/fonts/gilroy-bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gilroy-Regular";
    src: url("../assets/fonts/gilroy-regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Gilroy-Semibold";
    src: url("../assets/fonts/gilroy-semibold.ttf") format("truetype");
  }
  
  .m-bold {
    font-family: "MazzardH-Bold", sans-serif;
  }
  
  .m-extra {
    font-family: "MazzardH-ExtraBold", sans-serif;
  }

  .g-semiBold {
    font-family: "Gilroy-Semibold", sans-serif;
  }
  
  .g-bold {
    font-family: "Gilroy-Bold", sans-serif;
  }
  
  .g-regular {
    font-family: "Gilroy-Regular", sans-serif;
  }
  

$color-blue: #1B4D4A;
$color-pink:  #FFCC91;


.icon {
    width: 8px;
    height: 8px;
    display: inline-block;
  
    mask-size: 100%;
    mask-repeat: no-repeat;
  
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
  
    background-color: $color-blue;
  
    &.icon-right {
      mask-image: url("../assets/icon/right.svg");
      -webkit-mask-image: url("../assets/icon/right.svg");
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    overflow-x: hidden;
    
    body {
        background: #F8F8F8;
        

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        h1,h2,h3,h4,h5,h6,p {
            margin-bottom: 0;
        }
        
        .cursor {
            cursor: pointer;
        }

        a {
            color: #2E2E2E;

            &:hover {
                color: #535353;
                text-decoration: none;
            }
        }

        .myBtn {
            font-weight: 500;
            transition: all .5s ease-in-out;
            border-radius: 7px;
            cursor: pointer;

            &:hover {
                transform: translateY(-3px);
            }
        }

        .zed {
            z-index: 99;
        }

        .myForm {
            width: 320px;
            height: 220px;
            background: #fff;
            padding: 18px 28px 28px;
            box-shadow: 0px 0px 20px rgba(0, 0,  0, .16);
            border-radius: 5px;
            // position: fixed !important;
            right: 15%;
            top: 19%;
            border-radius: 5px;
            transition: all .5s ease;
            z-index: 1;
            transform: translateX(400px);
            opacity: 0;

            .close {
                cursor: pointer;
                img {
                    top: -26px;
                    right: -1px;
                }
            }

            b {
                display: block;
                font-size: 10px;
                line-height: 22px;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #535353;
                font-weight: 500;
                margin-bottom: 10px;
            }

            input {
                font-size: 12px;
                line-height: 22px;
                color: #000000;
                margin-top: 20px;
                display: inline-flex;
            }

            &.clicked {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .header {
            background-color: #fff;
            padding: 25px 0 29px;

            .a {
                padding: 12px 24px 11px 18px;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #1B4D4A;
                border: 1px solid #1B4D4A;
                border-radius: 7px;
                margin-right: 12px;
                margin-left: 20px;

                span {
                    margin-right: 12px !important;
                }
            }

            .input-group {
                input, .btn {
                    background: #F5F5F5 !important;
                }
                
                input {
                    border-radius: 7px 0 0 7px;
                    padding: 11px 0px 10px 20px;
                }

                .btn {
                    border-radius: 0 7px 7px 0;
                }
            }

            ul {
                li {
                    margin-right: 10px;
                    a {
                        font-weight: 500 !important;
                        font-size: 12px;
                        line-height: 15px;
                        color: #2E2E2E;
                    }
                }
            }

            .language {
                font-weight: 500;
                font-size: 11px;
                line-height: 13px;
                color: #A6A6A6;
                padding: 11px 13px;
                border: 1px solid #C4C4C4;
                border-radius: 7px;
                margin-right: 12px;
            }

            .enter {
                padding: 11px 23px;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                color: #FFFFFF;
                background: #1B4D4A;
                border-radius: 7px;
            }
        }

        .wrap {
            background-image: linear-gradient(to right, #0F3634 26%, #F8F8F8 1%);
            padding-bottom: 109px;

            @media(max-width: 1300px) {
                background-image: linear-gradient(to right, #0F3634 26%, #F8F8F8 1%);
            }
            
            @media(max-width: 1100px) {
                background-image: linear-gradient(to right, #0F3634 20%, #F8F8F8 1%);
            }
            
            @media(max-width: 1000px) {
                background-image: linear-gradient(to right, #0F3634 29%, #F8F8F8 1%);
            }

            .leftSide {
                padding-top: 32px;

                p {
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 18px;
                    color: #889E9D;
                }

                h5 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    color: #fff;
                }

                .last {
                
                    .nav-item {
    
                        .nav-link {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 30px;
                            margin-bottom: 30px;
                            color: #FFFFFF;
                            transition: all .4s ease-in-out;

                            &.active, &:hover {
                                color: #FFCC91;
                                background-color: transparent;
                                .span {
                                    display: none;
                                }
                                .span2 {
                                    display: flex !important;
                                }
                            }
                        }
                    }
                }
            }

            .rightSide {
                padding-top: 21px;
                padding-left: 40px;

                .main-content {

                    h6 {
                        font-size: 12px;
                        line-height: 14px;
                        color: #747474;
                    }
    
                    h1 {
                        margin-top: 39px;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 18px;
                        color: #000000;
                    }
    
                    p {
                        margin-top: 31px;
                        font-size: 16px;
                        line-height: 30px;
                        color: #000000;
                    }
    
                    h4 {
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 30px;
                        color: #000000;
                    }
    
                    .btn {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 24px;
                        color: #747474;
                        border: 1px solid #A4A4A4;
                        border-radius: 10px;
                        padding: 9px 15px 7px 21px;
                        margin-left: 24px;
                    }
                }

                .accordion-content {

                    .card {
                        h3 {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 18px;
                            color: #000000;
                        }

                        .card-body {

                            .cardHeader {
                                h6 {
                                    font-weight: 500;
                                    font-size: 10px;
                                    line-height: 18px;
                                    letter-spacing: 0.05em;
                                    text-transform: uppercase;
                                    color: #8E8E8E;
                                }
                                border-bottom: 1px solid #ECECEC;
                                padding-bottom: 13px;
                            }

                            .cardBody {

                                span {
                                    img {
                                        cursor: pointer;
                                    }
                                }

                                .lineWrap {
                                    .line {
                                        width: 1px;
                                        height: 100%;
                                        left: -20px;
                                        top: 0;
                                        background: #DADADA;
                                    }
                                }

                                h5 {
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 38px;
                                    letter-spacing: 0.1em;
                                    text-transform: uppercase;
                                    color: #9D9D9D;
                                }

                                h4 {
                                    font-size: 12px;
                                    line-height: 38px;
                                    color: #000000;
                                    font-weight: 600;
                                }

                                h2 {
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #000000;
                                    margin: 16px 0 6px 0 !important;
                                }

                                p {
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 38px;
                                    color: #000000;
                                }

                                .btn {
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 36px;
                                    color: #000000;
                                    background: #F5F5F5;
                                    border-radius: 7px;
                                    padding: 0 28px;
                                }

                                h3 {
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 38px;
                                    letter-spacing: 0.25em;
                                    text-transform: uppercase;
                                    color: #A4A4A4;
                                }
                            }
                        }
                    }
                }


                .kalendar {
                    padding: 33px 50px 44px 45px;
                    background-color: #fff;
                    border-radius: 10px;
                    margin-top: 40px;

                    h2 {
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 18px;
                        color: #000000;
                        margin-bottom: 40px !important;
                    }

                    h5 {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 18px;
                        color: #000000;
                        margin-right: 22px;
                    }

                    .btn {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 18px;
                        color: #1E524F;
                    }

                    .weeks {
                        .week {
                            border: 1px solid #E1E1E1;
                            border-radius: 5px;
                            width: 114px;
                            padding: 14px 0;
                            margin-right: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            h4 {
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                color: #000000;
                            }
                        }
                    }

                    .days {
                        .day {
                            width: 109px;
                            border-radius: 5px;
                            background: #F8F8F8;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 5px;
                            padding-top: 21px;
                            padding-bottom: 21px;
                            margin-bottom: 4px;
                            transition: all .3s ease-in-out;
                            cursor: pointer;

                            h3 {
                                font-size: 24px;
                                line-height: 18px;
                                color: #000;
                                transition: all .3s ease-in-out;

                            }

                            &.clicked {
                                background-color: #fff;

                                h3 {
                                    color: #B8B8B8;
                                }
                            }

                            &:hover {
                                background-color: #FFCC91;

                                h3 {
                                    color: #000;
                                }
                            }
                        }
                    }
                }

                .clients {

                    h2 {
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 18px;
                        color: #000000;
                    }

                    .topBtn {
                        padding: 12px 29px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        color: #000000;
                        border: 1px solid #1B4D4A;
                        border-radius: 5px;
                    }

                    .headerCard {
                        padding: 27px 43px 28px 32px;   
                        background: #FFFFFF;
                        border-radius: 10px;

                        h3 {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 18px;
                            color: #000000;
                        }

                        p {
                            font-size: 12px;
                            line-height: 18px;
                            margin: 5px 0 10px 0 !important;                       
                            color: #7A7A7A;
                            cursor: pointer;
                        }

                        h6 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            color: #000000;
                            cursor: pointer;
                        }

                        h5 {
                            font-size: 16px;
                            line-height: 18px;
                            color: #1B4D4A;
                            font-weight: 400;
                            margin-top: 5px;
                            cursor: pointer;
                        }

                        .innerBtn, .innerBtn2, .innerBtn3 {
                            background: #1E524F;
                            border-radius: 5px;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 18px;
                            color: #FFFFFF;
                            width: 140px;
                            padding: 6px 0;
                            margin-bottom: 10px;
                            align-items: center;
                            justify-content: center;
                            border: none;
                        }

                        .innerBtn2, .innerBtn3 {
                            color: #000;
                        }

                        .innerBtn2 {background-color: #FDEEE2;}
                        .innerBtn3 {background-color: #F3F3F3;}
                    }

                    .orderHistorty {
                        padding-top: 38px;

                        h3 {
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 18px;
                            color: #000000;
                        }

                        .nav {
                            margin-bottom: 30px;

                            .nav-item {

                                .nav-link {
                                    border-radius: 5px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 18px;
                                    color: #000;
                                    padding: 11px 23px 12px;
                                    margin-right: 10px;

                                    &.active {
                                        background: #1E524F;
                                        color: #FFFFFF;
                                    }
                                }
                            }
                        }

                        .myCard {
                            padding: 25px 43px 26px 32px;
                            border-radius: 10px;
                            background-color: #fff;

                            h4 {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 18px;
                                color: #000000;
                                margin-bottom: 20px !important;
                            }

                            .leftOrder {

                                .btn {
                                    background: #F5F5F5;
                                    border-radius: 10px;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #747474;
                                    padding: 11px 28px 10px 20px;
                                }
                            }

                            .rightOrder {
                                .change {
                                    background: #FFCC91;
                                    border-radius: 10px;
                                    padding: 10px 0 12px;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #222222;
                                    width: 170px;
                                }

                                .cancel {
                                    border: 1px solid #A4A4A4;
                                    border-radius: 10px;
                                    padding: 10px 0 12px;
                                    width: 170px;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #747474;
                                }
                            }
                        }
                    }

                    .orderTable {
                        margin-top: 70px;
                        padding: 35px 33px;
                        background-color: #fff;

                        h4 {
                            font-weight: 500;
                            font-size: 30px;
                            line-height: 18px;
                            color: #000000;
                        }

                        .topBtn2 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: #222222;
                            padding: 13px 21px;
                            background: #FFCC91;
                            border-radius: 10px;
                        }

                        input {
                            background: #F0F0F0;
                            border-radius: 5px;
                            width: 300px;
                            margin: 23px 0;
                            display: flex;
                            font-size: 12px;
                            line-height: 24px;
                            color: #7D7D7D;
                            padding: 8px 20px;
                        }

                        .tabelNav {

                            .nav-item {
                                .nav-link {
                                    border-radius: 10px;
                                    font-size: 16px;
                                    line-height: 18px;
                                    width: 40px;
                                    height: 40px;
                                    border: 1px solid #1B4D4A;
                                    margin-right: 7px;
                                    color:  #1B4D4A;

                                    &.active {
                                        background: #1B4D4A;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        .table {
                            thead {
                                th {
                                    font-weight: 500;
                                    font-size: 10px;
                                    line-height: 18px;
                                    letter-spacing: 0.05em;
                                    text-transform: uppercase;
                                    color: #8E8E8E;
                                }
                            }

                            tbody {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 18px;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }


        .footer-line {
            // margin-top: 109px;
            width: 100%;
            height: 0.5px;
            background-color: #DBDBDB;;
        }
        .pre-footer {
            padding: 27px 0 29px;

            ul {
                li {
                    a {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #000000 !important;
                    }
                }
            }

            .span {
                width: 40px;
                height: 40px;
                border: 0.5px solid #A4A4A4;
                box-sizing: border-box;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
            }
        }

        .footer {
            padding-bottom: 27px;

            h5 {
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #9D9D9D;
            }

            p {
                font-weight: normal;
                font-size: 10px;
                line-height: 16px;
                color: #9D9D9D;
            }
        }
    }
}